
@use './App' as *;

* {
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background: #ffffff;
  color: #222;
}

a {
  color: #0059ff;
  text-decoration: none;
}
